//
// Bars
// --------------------------------------------------
.#{$namespace}bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: z("bar","bar");
    height: $bar-base-height;
    padding-right: $bar-side-spacing;
    padding-left: $bar-side-spacing;
    background-color: $chrome-color;
    border-bottom: 0;
    @include box-shadow(0 0 1px rgba(0,0,0,.85));
    -webkit-backface-visibility: hidden; // Make sure the bar is visible when a modal animates in.
    backface-visibility: hidden;
}
//fixed by fxy
.#{$namespace}bar {
    .#{$namespace}title {
        width: auto;
        left: 2rem;
        right: 2rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .#{$namespace}backdrop {
        background: none;
    }
}
// Modifier class to dock any bar below .#{$namespace}bar-nav
.#{$namespace}bar-header-secondary {
    top: $bar-base-height;
}
// Modifier class for footer bars
.#{$namespace}bar-footer {
    bottom: 0;
}
// Modifier class to dock any bar above a standard bar
.#{$namespace}bar-footer-secondary {
    bottom: $bar-base-height;
}
// Modifier class to dock any bar above a .#{$namespace}bar-tab
.#{$namespace}bar-footer-secondary-tab {
    bottom: $bar-tab-height;
}
// Give the footers the correct border
.#{$namespace}bar-footer,
.#{$namespace}bar-footer-secondary,
.#{$namespace}bar-footer-secondary-tab {
    border-top: 0;
}
// Nav bar
// --------------------------------------------------
// Bar docked to top of viewport for showing page title and actions
.#{$namespace}bar-transparent {
    top: 0;
    background-color: rgba(247,247,247,0); 
    -webkit-box-shadow: none;
    box-shadow: none;
}
.#{$namespace}bar-nav {
    top: 0;
    -webkit-box-shadow: 0 0.05rem 0.3rem #CCC;
    box-shadow: 0 0.05rem 0.3rem #CCC;
    ~ .#{$namespace}content .#{$namespace}anchor {
        display: block;
        height: 2.25rem;
        margin-top: -2.25rem;
        visibility: hidden;
    }
    &.#{$namespace}bar .#{$namespace}icon {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
// Centered text in the .#{$namespace}bar-nav
//
// We position the absolutely to make sure the title is always centered
.#{$namespace}title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 (-$bar-side-spacing);
    font-size: $font-size-default;
    font-weight: $font-weight;
    line-height: $bar-base-height;
    color: #000;
    text-align: center;
    white-space: nowrap;
}
// Retain specified title color
.#{$namespace}title a {
    color: inherit;
}
// Tab bar
// --------------------------------------------------
// Bar docked to bottom and used for primary app navigation
.#{$namespace}bar-tab {
    display: table;
    bottom: 0;
    width: 100%;
    height: $bar-tab-height;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none; 
    // Navigational tab (Nested to be more specific for the icons in tab-items)
    .#{$namespace}tab-item {
        display: table-cell;
        width: 1%;
        height: $bar-tab-height;
        color: #929292;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // Active states for the tab bar
        &.#{$namespace}active {
            color: $primary-color;
        }
        // Tab icon
        .#{$namespace}icon {
            top: 0.15rem;
            width: 1.2rem;
            height: 1.2rem;
            padding-top: 0;
            padding-bottom: 0;
            // Make the text smaller if it's used with an icon
            ~ .#{$namespace}tab-label {
                display: block;
                font-size: 0.55rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:active {
                background: none;
            }
        }
    }
}
.#{$namespace}focusin>.#{$namespace}bar-nav,
.#{$namespace}focusin>.#{$namespace}bar-header-secondary {
    position: absolute;
}
.#{$namespace}focusin>.#{$namespace}bar~.#{$namespace}content {
    padding-bottom: 0;
}
// Bars with buttons
// --------------------------------------------------
.#{$namespace}bar .#{$namespace}btn {
    position: relative;
    top: 0.35rem;
    z-index: z("bar","btn"); // Position the buttons on top of .#{$namespace}title
    padding: 0.3rem 0.6rem 0.35rem;
    margin-top: 0;
    font-weight: $font-weight-light;
    // Give buttons that are floated left and right side margin
    &.#{$namespace}pull-right {
        margin-left: $bar-side-spacing;
    }
    &.#{$namespace}pull-left {
        margin-right: $bar-side-spacing;
    }
}
// Bars with link buttons (Line the text up with content)
.#{$namespace}bar .#{$namespace}btn-link {
    top: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: $bar-base-height;
    color: $primary-color;
    border: 0;
    &:active,
    &.#{$namespace}active {
        color: darken($primary-color, 10%);
    }
}
// Bars with block buttons
//
// Add proper padding
.#{$namespace}bar .#{$namespace}btn-block {
    top: 0.3rem;
    padding: 0.25rem 0;
    margin-bottom: 0;
    font-size: 0.8rem; // Scale down font size to fit in bar.
}
// Nav buttons (Only applicable within bars)
//
// Buttons inside bars that sit closer against the viewport.
.#{$namespace}bar .#{$namespace}btn-nav {
    &.#{$namespace}pull-left {
        margin-left: -0.25rem;
        .#{$namespace}icon-left-nav {
            margin-right: -0.15rem;
        }
    }
    &.#{$namespace}pull-right {
        margin-right: -0.25rem;
        .#{$namespace}icon-right-nav {
            margin-left: -0.15rem;
        }
    }
    &:active {
        opacity: 0.3;
        //background-color: rgba(0,0,0,.07);
    }
}
// Bars with Muiicons
// --------------------------------------------------
.#{$namespace}bar {
    .#{$namespace}icon {
        position: relative;
        z-index: z("bar","icon"); // Position the buttons on top of .#{$namespace}title
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        &:active {
            opacity: 0.3;
            //background-color: rgba(0,0,0,.07);
        }
    }
    // Vertical center the larger icons in btns.
    .#{$namespace}btn .#{$namespace}icon {
        top: 0.05rem;
        padding: 0;
        margin: 0;
    }
    // Handle carets in the titles
    .#{$namespace}title .#{$namespace}icon {
        padding: 0;
        margin: 0;
        // Specific postioning of the caret icon within a title. Used with popover.js.
        &.#{$namespace}icon-caret {
            top: 0.2rem;
            margin-left: -0.25rem;
        }
    }
}
// Bars for search forms
// --------------------------------------------------
// Position/size search bar within the bar
.#{$namespace}bar input[type="search"] {
    height: 1.45rem;
    margin: 0.3rem 0;
}
.#{$namespace}bar .#{$namespace}input-row .#{$namespace}btn {
    padding: 0.6rem 0.5rem;
}
.#{$namespace}bar .#{$namespace}search:before {
    margin-top: -0.5rem;
}
.#{$namespace}bar .#{$namespace}input-row .#{$namespace}input-clear~.#{$namespace}icon-clear,
.#{$namespace}bar .#{$namespace}input-row .#{$namespace}input-speech~.#{$namespace}icon-speech {
    top: 0;
    right: 0.6rem;
}
.#{$namespace}bar.#{$namespace}bar-header-secondary .#{$namespace}input-row .#{$namespace}input-clear~.#{$namespace}icon-clear,
.#{$namespace}bar.#{$namespace}bar-header-secondary .#{$namespace}input-row .#{$namespace}input-speech~.#{$namespace}icon-speech {
    top: 0;
    right: 0;
}
// Bars with segmented controls
// --------------------------------------------------
// Position the control correctly inside a bar.
.#{$namespace}bar .#{$namespace}segmented-control {
    top: 0.35rem;
    margin: 0 auto;
    width: auto;
}
.#{$namespace}bar.#{$namespace}bar-header-secondary .#{$namespace}segmented-control {
    top: 0;
}