//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1;
}
h1, .#{$namespace}h1 { font-size: 1.8rem; }
h2, .#{$namespace}h2 { font-size: 1.5rem; }
h3, .#{$namespace}h3 { font-size: 1.2rem; }
h4, .#{$namespace}h4 { font-size: 0.9rem; }
h5, .#{$namespace}h5 { font-size: 0.7rem; color: #8f8f94;font-weight: normal; }
h6, .#{$namespace}h6 { font-size: 0.6rem; color: #8f8f94;font-weight: normal; }

// Paragraphs
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  color: #8f8f94;
}
