//
// Variables
// --------------------------------------------------
$namespace: "mui-" !default;

// Type
// --------------------------------------------------
$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 0.8rem  !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 1.05rem !default;


// Colors
// --------------------------------------------------

// Main theme colors
//blue theme
$primary-color: #000000 !default;
//green theme
//$primary-color: #4cd964 !default;
//$chrome-color:  rgba(247,247,247,.98) !default;
$chrome-color:  rgb(247,247,247) !default;

// Action colors
$default-color:  #222222 !default;
$positive-color: #4cd964 !default;
$negative-color: #dd524d !default;
$warning-color: #f0ad4e !default;
$royal-color: #8a6de9 !default;
$grey-color:#c7c7cc !default;


// Bars
// --------------------------------------------------

$bar-base-height:  2.2rem !default;
$bar-tab-height:   2.5rem !default;
$bar-side-spacing: 0.5rem !default;


// Cards
// --------------------------------------------------

$card-bg: #fff !default;
$card-margin:0.5rem !default;
$card-border-radius:2px !default;
$card-font-size:0.7rem !default;
$card-media-body-margin-left:2.2rem !default;
$card-footer-color:#6d6d72 !default;


// Buttons
// --------------------------------------------------

$button-font-size: 0.7rem !default;


// Transitions
// --------------------------------------------------

$timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by @c2prods


// Borders
// --------------------------------------------------

$border-default: 0.05rem solid #ddd !default;
$border-radius: 6px !default;
